@font-face {
    font-family: UbuntuLight;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: UbuntuMedium;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Ubuntu-Medium.ttf') format('truetype');
}

.invisible {
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right;
}

.left {
    float: left;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #fff url("images/back_stripe_140_60.png") top repeat-x;
    font: 16px/1.5 Ubuntu;
    color: #666;
}

div#WRAPPER {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    min-width: 1000px;
}

div#WRAPPER div#LCOL {
    display: table-cell;
    min-width: 120px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15) 20px, rgba(0, 0, 0, 0.0) 40px),
        url("images/back_stripe_140_60.png"), url("images/back_side.jpg");
    background-position: right top, right top, right top;
    background-repeat: repeat-x, repeat-x, repeat-x;
}

div#WRAPPER div#RCOL {
    display: table-cell;
    min-width: 120px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15) 20px, rgba(0, 0, 0, 0.0) 40px),
        url("images/back_stripe_140_60.png"), url("images/back_side.jpg");
    background-position: left top, left top, left top;
    background-repeat: repeat-x, repeat-x, repeat-x;
}

div#WRAPPER div#CCOL {
    display: table-cell;
    width: 960px;
}

div#LOGO {
    height: 140px;
    background: #fff url("images/logo2.png") no-repeat center center;
}

nav {
    display: block;
    overflow: hidden;
    height: 60px;
    vertical-align: middle;
}

nav ul {
    padding-top: 9px;
    text-align: center;
    font: 22px/1.5 UbuntuLight;
    color: #fff;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
    padding: 4px 10px;
}

nav ul li a {
    transition: color 1s ease;
    color: #3d3;
}

nav ul li a:HOVER {
    transition: color 0s ease;
    color: #fff;
}

a {
    color: #090;
    text-decoration: none;
}

a:HOVER {
    color: #000;
}

h1 {
    display: table;
    margin: 40px auto 20px auto;
    padding: 0 32px;
    background-image: url("images/leaf_left.png"), url("images/leaf_right.png");
    background-position: 0 50%, 100% 50%;
    background-repeat: no-repeat, no-repeat;
    font: 28px/1.5 Ubuntu;
    color: #090;
}

h2 {
    display: table;
    margin: 20px auto;
    padding: 0 32px;
    background-image: url("images/leaf_left.png"), url("images/leaf_right.png");
    background-position: 0 50%, 100% 50%;
    background-repeat: no-repeat, no-repeat;
    font: 28px/1.5 Ubuntu;
    color: #090;
}

h3 {
    display: table;
    margin: 8px auto;
    margin-bottom: 16px;
    padding: 0;
    font: 22px/1.5 Ubuntu;
    color: #060;
}

h4 {
    display: block;
    margin: 0;
    padding: 0;
    font: 22px/1.5 Ubuntu;
    color: #060;
}

p {
    font: 17px/1.5 Ubuntu;
    color: #666;
    margin-bottom: 16px;
}

p.cena {
    margin: 7px 0 10px 0;
    font: 17px/1.5 Ubuntu;
    font-weight: bold;
    color: #000;
    font: 16px/1.5 UbuntuMedium;
}



.w_20 {
    width: 20px;
}

.w_120 {
    width: 120px;
}

.w_240 {
    width: 240px;
}

table {
    border-spacing: 0;
    border-width: 0;
    margin: 48px auto;
}

table.ponuka tr {
    height: 140px;
    padding: 0;
    margin: 0;
}

table.ponuka td {
    text-align: center;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

div#UVOD, div#PONUKA, div#KONTAKT {
    width: 920px;
    display: table;
    text-align: center;
    padding: 20px;
}

div#PONUKA p {
    margin-bottom: 32px;
}

div#POPIS {
    display: table;
    text-align: left;
    padding: 20px;
}

div#POPIS img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

div#POPIS h3 {
    margin-left: 0;
    margin-right: 0;
}

div#POPIS h2 {
    clear: both;
}

div#KONTAKT img {
    background-color: white;
    padding: 16px;
    /*border: solid #ccc 1px;*/
    -webkit-box-shadow: 0px 0px 7px 2px rgba(153,153,153,1);
    -moz-box-shadow: 0px 0px 7px 2px rgba(153,153,153,1);
    box-shadow: 0px 0px 7px 2px rgba(153,153,153,1);

    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
}
